# Backend API URL
VITE_API_URL=http://localhost:5000

# Supabase Configuration
VITE_SUPABASE_URL=https://bqcsrzyncgzcyopradky.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_6ecH4RUwCFekLIGhKGqPUw_ACH8MNMV
